<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Starter Kit</title>
  <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
  <link media="all" rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>
  <div id="wrapper">
    <div class="container">
      <div id="form-app">
        <div class="row">
          <form @submit.prevent="addInfo" class="col-md-6 offset-md-3">
            <div class="form-group">
              <label for="first-name">First name</label>
              <input class="form-control" type="text" placeholder="First Name" name="first-name" v-model="userInfo.firstName">
            </div>
            <div class="form-group">
              <label for="last-name">Last name</label>
              <input class="form-control" type="text" placeholder="Last Name" name="last-name" v-model="userInfo.lastName">
            </div>
            <label for="user-email">Email</label>
            <input class="form-control" type="text" placeholder="Last Name" name="email" v-model="userInfo.userEmail">
            <div class="form-group">
              <label for="user-age">Age</label>
              <input class="form-control" type="text" placeholder="Age" name="age" v-model="userInfo.userAge">
            </div>
            <div class="form-group">
              <label for="user-skype">Skype</label>
              <input class="form-control" type="text" placeholder="Skype" name="skype" v-model="userInfo.userSkype">
            </div>
            <div class="row">
              <button class="btn btn-default">Add Info</button>
            </div>
          </form>
        </div>
        <div>
          <div v-show="users.length" class="row">
            <div class="col-md-2">Firs tName</div>
              <div class="col-md-2">Last Name</div>
              <div class="col-md-2">Email</div>
              <div class="col-md-2">Age</div>
              <div class="col-md-2">Skype</div>
          </div>
          <div class="row" v-for="(user, index) in users">
            <div class="col-md-2">{{user.firstName}}</div>
            <div class="col-md-2">{{user.lastName}}</div>
            <div class="col-md-2">{{user.userEmail}}</div>
            <div class="col-md-2">{{user.userAge}}</div>
            <div class="col-md-2">{{user.userSkype}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="assets/js/vendor.min.js" defer></script>
  <script src="assets/js/app.js" defer></script>
</body>

</html>